<h1>生産者紹介</h1>
<div>
<%= @farm.name %>
</div>
<div id="farm_<%= @farm.id %>">
  <%= render partial: "shares/favorite", locals: { farm: @farm } %>
</div>
<% if current_farmer == @farm.farmer %>
<%= link_to '紹介ページ編集', edit_farm_path(@farm.id) %>
<%= link_to '紹介ページ削除', farm_path(@farm), method: :delete %>
<% end %>
<div>生産品目
<div>
<% @farm_tags.each do |tag| %>
<%= "#{tag.text} " %>
<% end %> 
</div>
</div>
<div>
<%= "所在地: #{@farm.prefecture.name}" %>
</div>

<div>
<% i = 0 %>
  <% @farm.images.each do |image| %>
    <% if i != 0 %>
    <%= image_tag image.variant(resize:'300x400') %>
    <% else %>
    <%= image_tag image.variant(resize:'600x700') %><br>
    <% end %>
  <% i += 1 %>
  <% end %>
</div>
<h4>農園紹介</h4>
<div>
<%= @farm.description %>
</div>
<h4>ここがこだわり</h4>
<div>
<%= @farm.feature %>
</div>
<h4>販売品目</h4>
<div>
<% @farmer.items.each do |item| %>
<%= image_tag item.image.variant(resize:'150x150') %><br>
<%= item.description %><br>
<%= item.price %>円<br>
<% end %>
</div>