<%= render partial: 'shares/bar_menu' %>

<div class="top-image">
<%= image_tag "top.png", class:"top-image-png" %>
</div>

<div class="main">
<div class="side-bar">
<h4 class="category-title">品目別農園カテゴリー<h4>
<ul class="category-lists">
<% @tags.each do |tag| %>
<li class="category-list"><%= link_to "#{tag.text}生産農園", tag_path(tag.id), class:"category-link" %></li>
<% end %>
</ul>
</div>
<div class="main-bar">
<div class="main-bar-head">
<h3>生産農園</h3>
<% @farms.each do |farm| %>
<div>
<%= link_to farm.name, farm_path(farm) %><br>
<%= image_tag farm.images.first.variant(resize:'150x150') %><br>
生産品目:<br>
<% farm.tags.each do |tag| %>
  <%= "#{tag.text}," %>
<% end %>
</div>
<% end %>
</div>
<div class="main-bar-bottom">
<h3>出品農産物</h3>
<div>
<% @items.each do |item| %>
<%= image_tag item.image.variant(resize:'150x150') %><br>
<%= item.description %><br>
<%= item.prefecture.name %>産<br>
<%= item.price %>円<br>
<% end %>
</div>
</div>
</div>
