<%= render partial: 'shares/bar_menu' %>

<div class="top-image">
  <%= image_tag "top.png", class:"top-image-png" %>
</div>

<div class="main">
  <div class="side-bar">
    <%= form_with(url: search_items_path, local: true, method: :get, class: 'search-form') do |form| %>
      <%= form.label :keyword, "品目検索(全角カタカナ入力)", class:"search-label" %>
      <%= form.text_field :keyword, placeholder:"(例)トマト", class:"search-input" %>
      <%= form.submit "検索", class:"search-submit" %>
    <% end %>
    <%= render "shares/category", tags: @tags %>
  </div>

  <div class="main-bar">
    <h3>＜生産農園＞</h3>
    <div class="main-bar-head">

      <% @farms.each do |farm| %>
        <%= render "shares/each_farm", farm: farm %>
      <% end %>
    </div>

    <h3>＜出品農産物＞</h3>
    <div class="main-bar-bottom">
      <% @items.each do |item| %>
        <%= render "shares/each_item", item: item %>
      <% end %>
    </div>
  </div>
</div>
