<%= render partial: 'shares/bar_menu' %>
<div class="new-item">
<%= link_to '商品出品', new_item_path, class:"new-item-link" %>
</div>
<div class="top-image">
<%= image_tag "top.png", class:"top-image-png" %>
</div>

<h3>品目別農園カテゴリー<h3>
<div>
<% @tags.each do |tag| %>
<%= link_to "#{tag.text}生産農園", tag_path(tag.id) %>
<% end %>
</div>
<h3>生産農園</h3>
<% @farms.each do |farm| %>
<div>
<%= link_to farm.name, farm_path(farm) %><br>
<%= image_tag farm.images.first.variant(resize:'150x150') %><br>
生産品目:<br>
<% farm.tags.each do |tag| %>
  <%= "#{tag.text}," %>
<% end %>
</div>
<% end %>
<h3>出品農産物</h3>
<div>
<% @items.each do |item| %>
<%= image_tag item.image.variant(resize:'150x150') %><br>
<%= item.description %><br>
<%= item.prefecture.name %>産<br>
<%= item.price %>円<br>
<% end %>
