<%= form_with model: @item, local: true do |form| %>
<%= render "shares/error_messages", model: form.object %>
<div class='form_input'>
<%= form.label :name, '品目を全角カタカナで入力して下さい' %><br>
<%= form.text_field :name, placeholder:'(例)トマト', size: '30x1' %>
</div>
<div class='form_input'>
  <%= form.label :description, '詳細を記入して下さい' %><br>
  <%= form.text_field :description, size: '40x1', placeholder:'(例)完熟トマト 1kg' %>
</div>
<div>
<%= form.label :image, '商品画像を選択して下さい(1個)' %><br>
<%= form.file_field :image, id: 'farm-image1' %>
</div>
<div id='image-list'></div>
<div>
<%= form.label :ship_expense_id, '送料負担' %><br>
<%= form.collection_select(:ship_expense_id, ShipExpense.all, :id, :name, {}) %>
</div>
<div class='form_input'>
<%= form.label :prefecture_id, '生産地' %><br>
<%= form.collection_select(:prefecture_id, Prefecture.all, :id, :name, {})%>
</div>
<div class='form_input'>
<%= form.label :period_id, '発送までにかかる日数' %><br>
<%= form.collection_select(:period_id, Period.all, :id, :name, {}) %>
</div>
<div class='form_input'>
<%= form.label :price, '価格' %><br>
<%= form.text_field :price, placeholder: '(例)1500', size: '30x1' %>
</div>
<div class='form_input'>
<%= form.submit '作成' %>
</div>
<% end %>