<%= render partial: 'shares/bar_menu' %>

<div class="main-bar-bottom">
<% @items.each do |item| %>
<div class="each-item">
<%= image_tag item.image, class:"item-image" %><br>
<%= item.description %><br>
<%= item.prefecture.name %>産<%= "  #{item.price}" %>円<br>
</div>
<% end %>
</div>