<%= render partial: 'shares/bar_menu' %>

<div class="show-item">
  <div class="show-item-below">
  <h2 class="show-item-title">商品詳細</h2>
  <h3 class="show-item-name"><%= @item.name %></h3>
  <%= image_tag @item.image, class:"show-item-image" %>
  <table border="2" class="show-item-table">
    <tr>
      <td>商品名</td>
      <td><%= @item.description %></td>
    </tr>
    <tr>
      <td>送料</td>
      <td><%= @item.ship_expense.name %></td>
    </tr>
    <tr>
      <td>生産地</td>
      <td><%= @item.prefecture.name %></td>
    </tr>
    <tr>
      <td>生産農園</td>
      <td><%= link_to @item.farmer.farm.name, farm_path(@item.farmer.farm.id), class:"show-item-link" %>
    <tr>
      <td>発送までにかかる日数</td>
      <td><%= @item.period.name %></td>
    </tr>
    <tr>
      <td>価格</td>
      <td><%= @item.price %></td>
    </tr>
  </table>
  </div>
</div>