<!DOCTYPE html>
<html>
  <head>
    <title>FarmDeli</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
  <div class='header-title'>
  <%= link_to 'Organic Market', root_path %>
  </div>
  <div class='bar'>
  <% if user_signed_in? %>
  <%= link_to current_user.nickname, '#' %>
  <%= link_to 'お客様ログアウト', destroy_user_session_path, method: :delete %>
  <% elsif farmer_signed_in? %>
  <%= link_to current_farmer.nickname, '#' %>
  <%= link_to '生産者様ログアウト', destroy_farmer_session_path, method: :delete %>
  <% else %>
  <%= link_to 'お客様新規登録', new_user_registration_path %>
  <%= link_to 'お客様ログイン', new_user_session_path %>
  <%= link_to '生産者様新規登録', new_farmer_registration_path %>
  <%= link_to '生産者様ログイン', new_farmer_session_path %>
  <% end %>
  </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
