<!DOCTYPE html>
<html>
  <head>
    <title>FarmDeli</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
  <div class='header-title'>
  <%= link_to 'Organic Market', root_path %>
  </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
